html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-image: linear-gradient(35deg, #e985bc, #c9acff, #eeac77);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

main {
    width: 50%;
    margin-top: 30px;
    padding: 40px 60px;
    background-color: #2e2e2e;
    color: #FFF;
    box-shadow: 10px 5px 13px hsla(0, 0%, 0%, 0.301);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

#title {
    text-align: center;
    text-shadow: 5px 5px hsla(325, 100%, 50%, 0.377);
}

#description {
    text-align: center;
}

.form-element{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

input, textarea, select {
    border-style: none;
    border-radius: 5px;
    padding: 5px;
}


label {
    margin-bottom: 10px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #8d8d8d;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #8d8d8d;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #8d8d8d;
}

.call-us-radio-container {
    display: flex;
    flex-direction: row;
}

.call-us-radio{
    display: inline-block;
    padding-right: 10px;
    margin-right: 5px;
}

button {
    font-family: inherit;
    background-color: #6b2be2;
    border-style: none;
    border-radius: 5px;
    color: #FFF;
    padding: 10px;
}